// Colors pallette
$color-black: #000000;
$color-gray: #3e3636;
$color-red: #d72323;
$color-white: #f5eded;

// Section background colors
$color-section1: #000000;
$color-section2: rgb(24,24,24);
$color-section3: #000000;
$color-section4: #000000;